<tr>
    <th></th>
  </tr>
  <% @questions.each do |question|%>
    <tr>
      <ul>
      <li><%= question.title %></li></ul>
      <td><%= link_to "Show more", question %> </td>
        <% end %>
      </td>
