<h1>New Question</h1>

<%= render 'form' %>

<div data-alert >
    <% @question.errors.full_messages.each do |error| %>
      <%= error %>
      <a href="#" class="close">&times;</a>
    <% end %>

</div>
