<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/questions" class="button">Home</a></li>
         <li><a href="/questions/new" class="button">New Question</a></li>
        </ul>
      </div>
      <h1>StackOverflow</h1>
      <hr/>
    </div>
  </div>





 <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h5><%= yield %></h5>
      </div>
    </div>
  </div>



  <footer class="row">
    <div class="large-12 columns">
      <hr/>

        <div class="large-6 columns">
          StackOverflow_Demo/Learning Rails
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
